<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Seu pedido de ajuda foi enviado!</h5>
      </div>
      <div class="modal-body text-center">
        <h6>Enquanto aguarda as manas responderem seu pedido, veja os posts de outras manas.</h6>
        <h6>Ver relatos de pessoas que passaram por situações similares pode ser de grande ajuda! ❤️</h6>
      </div>
      <div class="modal-footer">
        <%= link_to 'Ok!', posts_path, class: "btn-request" %>
      </div>
    </div>
  </div>
</div>
