

// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$medium-gray: rgb(133, 133, 133);
$light-red: #E23E57;
$sugar-cane: #F8FFF8;
$light-pink: #deccd5;
$light-pink2: #fbf4f7;
$red-pink: #E23E57;
$red-pink-light: rgb(255, 126, 146);
$red-pink-dark: rgb(196, 52, 74);
$purple-light: #88304E;
$purple-medium: #522546;
$purple-dark: #311D3F;
$sugar-cane-dark: rgba(248, 255, 248, 0.87);
$blue-green: rgba(93, 212, 182, 0.753);
$blue-green-medium: rgb(93, 212, 182);
$blue-green-dark: rgba(59, 143, 122, 0.815);
$brown: rgb(231, 222, 213);
$light-brown: #F7EDE3;
$background: #f2efeb;
$darker-brown: #E0B890;
$darker-darker-brown: #CF9254;

.text-red-pink {
  color: $red-pink;
  &:hover {
    color: $red-pink-dark;
    text-decoration: none;
  }
}
