// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-red: #E23E57;
$sugar-cane: #F8FFF8;
$red-pink: #E23E57;
$purple-light: #88304E;
$purple-medium: #522546;
$purple-dark: #311D3F;
$sugar-cane-dark: rgba(248, 255, 248, 0.87);
$blue-green: rgba(93, 212, 182, 0.753);
$blue-green-dark: rgba(59, 143, 122, 0.815);