
$box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;

.home-title {
  font-family: $home_font;
  color: $red-pink;
  font-size: 85px;
  font-style: bold;
  margin-top: 20vh;
  margin-left: 20vh;
}

.home-subtitle {
  font-family: $home_font;
  color: $red-pink;
  font-size: 40px;
  font-style: bold;
  margin-left: 20vh;
}

.links {
  a {
  color: $red-pink;
    &:hover{
      color: $purple-light;
    }
  }
}

.home-title-explanation {
  font-family: $home_font;
  color: $red-pink;
  font-size: 50px;
  font-style: bold;
  margin-top: auto;
  margin-bottom: auto;
}

.home-explanation {
  font-family: $headers_font;
  color: $red-pink;
  font-size: 20px;
  font-style: bold;
  width: 50%;
}

.banner-home {
 height: 800px;
}


.arms {
  background-position: center;
  background-size: cover;
  background-color: white;
  min-height: 600px;
  padding: 60px;
}

.hands {
  background-position: center;
  background-size: cover;
  background-color: white;
  min-height: 400px;
  padding: 60px;
}

.hands-text {
  width: 50%;
}

.home-explanation-right {
  font-family: $headers_font;
  color: $red-pink;
  font-size: 20px;
  font-style: bold;
  margin-right: 5%;
}

.heart {
  background-position: center;
  background-size: cover;
  background-color: white;
  min-height: 600px;
  padding: 60px;
}

.banner-heart {
  height: 700px;
  background-size: cover;
}

.title-posts {
  font-family: $headers_font;
  color: $red-pink;
  font-size: 50px;
  background-color: white;
}

.post-presentation {
  height: 350px;
  text-align: center;
  box-align: center;
  border-radius: 10px;
  background: linear-gradient(rgba(255,255,255,1), rgba(249,236,228,1));
  padding-bottom: 10px;
}

.post-example {
  color: black;
  width: 18vw;
  padding: 5px;
  border-radius: 10px;
  margin: 8px;
  box-shadow: $box-shadow;
}
