
$box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;

.home-title {
  font-family: $headers_font;
  color: $red-pink;
  font-size: 70px;
  font-style: italic;
  margin-top: 20vh;
}

.home-subtitle {
  font-family: $headers_font;
  color: $red-pink;
  font-size: 50px;
  font-style: bold;
}

.links {
  a {
  color: $red-pink;
  &:hover{
    color: $purple-light;
  }
  }
}

.home-title-explanation {
  font-family: $headers_font;
  color: $red-pink;
  font-size: 50px;
  font-style: bold;
  margin-top: auto;
  margin-bottom: auto;
}

.home-explanation {
  font-family: $headers_font;
  color: $red-pink;
  font-size: 20px;
  font-style: bold;
}

.banner-home-infos {
  height: 21%;
  background: linear-gradient(rgba(248,255,248,0), rgba(255,255,255,0.4))
}

.banner-home-arms {
  height: 22%;
  background: linear-gradient(rgba(255,255,255,0.4), rgba(248,255,248,0))
}

.banner-home-hands {
  height: 24%;
  background: linear-gradient(rgba(248,255,248,0), rgba(255,255,255,0.5))
}

.banner-home-heart {
  height: 24%;
  background: linear-gradient(rgba(255,255,255,0.5), rgba(248,255,248,0))
}

.post-presentation {
  height: 300px;
  text-align: center;
  box-align: center;
  border-radius: 10px;
  background-color: rgba(248, 255, 248, 0.2);
  box-shadow: $box-shadow;
  padding-top: 50px;
  padding-bottom: 10px;

}

.post-example {
  background-color: white;
  width: 18vw;
  padding: 20px;
  border-radius: 10px;
  margin: 8px;
}



