
$box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;

.home-title {
  font-family: $headers_font;
  color: $red-pink;
  font-size: 70px;
  font-style: italic;
  margin-top: 20vh;
}

.home-subtitle {
  font-family: $headers_font;
  color: $red-pink;
  font-size: 50px;
  font-style: bold;
}

.links {
  a {
  color: $red-pink;
  &:hover{
    color: $purple-light;
  }
  }
}

.home-title-explanation {
  font-family: $headers_font;
  color: $red-pink;
  font-size: 50px;
  font-style: bold;
  margin-top: auto;
  margin-bottom: auto;
}

.home-explanation {
  font-family: $headers_font;
  color: $red-pink;
  font-size: 20px;
  font-style: bold;
}

.banner-home {
 height: 700px;
}

.banner-arms {
  height: 700px;
  background-size: cover;
}

.banner-hands {
  height: 700px;
  background-size: cover;
}

.banner-heart {
  height: 700px;
  background-size: cover;
}

.banner-home-infos {
  height: 21%;
}

.banner-home-arms {
  height: 22%;
}

.banner-home-hands {
  height: 24%;
}

.banner-home-heart {
  height: 24%;
}

// .post-container {
//   background-color: linear-gradient(rgba(255,255,255,1), rgba(248,255,248,0));
// }

.title-posts {
  font-family: $headers_font;
  color: $red-pink;
  font-size: 50px;
}

.post-presentation {
  height: 350px;
  text-align: center;
  box-align: center;
  border-radius: 10px;
  background-color: white;
  // background-color: rgba(248, 255, 248, 0.2);
  // box-shadow: $box-shadow;
  padding-bottom: 10px;

}

.post-example {
  // background-color: white;
  color: black;
  width: 18vw;
  padding: 5px;
  border-radius: 10px;
  margin: 8px;
  box-shadow: $box-shadow;

}




