.selected-themes-title { 
  font-weight: bold;
  font-size: 24px;
  color: $purple-dark;
  font-family: $body-font;
}

.user-relative{
  position: relative;
}

.user-absolute {
  position: absolute;
  flex: 0 1 auto;
}

.user-show-nickname {
  position: absolute;
  flex: 0 1 auto;
  font-size: 32px;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
}