<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path 'Banner.png' %>)">
  <div class="row">
    <div class="col-8">
      <div class="home-title mx-5 mt-5">
        Sororitree
      </div>
      <div class="home-subtitle mx-5 ">
        connect women
      </div>
    </div>
    <div class="col-4">
      <div class="form-registration-new mx-5 my-5">
        <%= render 'shared/form_homepage' %>
      </div>
    </div>
  </div>
</div>
