<div class="banner-home">
  <div class="row banner-home-infos">
    <div class="col-8">
      <div class="home-title mx-5">
        Sororitree
      </div>
      <div class="home-subtitle mx-5 ">
        Conecta as mulheres
      </div>
    </div>
    <div class="col-4">
      <div class="form-homepage mx-5">
        <%= render "shared/form_homepage" %>
      </div>
    </div>
  </div>
  <div class="post-presentation">

  </div>
  <div class="row banner-home-arms align-items-center">
    <div class="col-7">
      <div class="home-title-explanation">
        Procurar ajuda
      </div>
      <div class="home-explanation">
        Se você procura ajuda para falar de assuntos tabu, agora você pode utilizar a app Sororitree, <br>que lhe permite falar com mulheres que estão prontas para te ouvir.
      </div>
    </div>
  </div>
  <div class="row banner-home-hands align-items-center">
    <div class="col-6 offset-6">
      <div class="home-title-explanation">
        Ajudar
      </div>
      <div class="home-explanation">
        Se desejar, você também pode ajudar outras mulheres, compartilhando suas experiências e opiniões.
      </div>
    </div>
  </div>
  <div class="row banner-home-heart align-items-center">
    <div class="col-7">
      <div class="home-title-explanation">
        Trocar
      </div>
      <div class="home-explanation">
        No Sororitree você também pode visualizar e postar informações e comentários relacionados ao lugar da mulher na sociedade contemporânea.
      </div>
    </div>
  </div>
<div>

# <!--  style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path 'global_banner.jpg' %>) -->

