.avatar {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  padding: 6px;
}
.avatar-large {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: outset white 3px;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-small img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
  padding: 6px;
}

.avatar-matching-helper {
  margin: 0 auto;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.avatar-matching {
  margin: 0 auto;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.avatar-post {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
