.banner-home {
  background-size: cover;
  background-position: top;
  height: 100vh;
  padding: 16px;
}

.post-banner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
