$box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;

.btn-post {
  padding: 8px 16px;
  color: white;
  background-color: #311D3F;
  border-radius: 8px;
  display: inline-block;
  box-shadow: $box-shadow;
  &:hover {
    background-color: #88304E;
    box-shadow: $box-shadow;
    cursor: pointer;
    text-decoration: none;
    color: $sugar-cane;
  }
}

.btn-rose {
  background-color: $red-pink;
  border-radius: 10px;
  color: white;
  padding: 4px 8px;
  border: none;
  margin: auto;
  display: block;
  &:hover {
    box-shadow: $box-shadow;
    background-color: $red-pink-dark;
    text-decoration: none;
    color: white;
  }
}

.btn-rose-wradius-left {
  background-color: $red-pink;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: white;
  padding: 4px 8px;
  border: none;
  margin: auto;
  display: block;
  &:hover {
    box-shadow: $box-shadow;
    background-color: $red-pink-dark;
  }
}

.btn-rose-outline {
  background-color: $sugar-cane;
  border-radius: 10px;
  color: $red-pink;
  padding: 4px 8px;
  border: solid 1px $red-pink;
  margin: auto;
  display: inline-block;
  &:hover {
    box-shadow: $box-shadow;
    background-color: $sugar-cane-dark;
    text-decoration: none;
    color: $red-pink;
  }
}

.btn-purple-medium {
  background-color: $purple-medium;
  border-radius: 10px;
  color: white;
  padding: 4px 8px;
  border: none;
  margin: auto;
  display: block;
  &:hover {
  }
}

.btn-request {
  padding: 8px 16px;
  color: white;
  background-color: #311D3F;
  border-radius: 8px;
  display: inline-block;
  box-shadow: $box-shadow;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: #88304E;
    box-shadow: $box-shadow;
    cursor: pointer;
  }
}

.btn-sugar-cane {
  background-color: $sugar-cane;
  color: black;
  padding: 8px;
  border-radius: 4px;
  &:hover {
    text-decoration: none;
    background-color: $sugar-cane-dark;
    color: black;
  }
}

.helpbutton {
  border: 1px solid $purple-medium;
  background-color: $light-brown;
  color: $purple-medium;
  text-align: center;
  border-radius: 8px;
  height: 36px;
  width: 64px;
  margin-top: 8px;
  padding: 6px;
  &:hover {
    background-color: $purple-light;
    color: $light-brown;
    border: 1.5px solid $purple-medium;
    text-decoration: none;
  }
}

#button-modal {
  border: 1px solid $purple-medium;
  background-color: $purple-medium;
  color: $light-brown;
  text-align: center;
  border-radius: 8px;
  height: 48px;
  width: 144px;
  margin-top: 8px;
  padding: 6px;
  &:hover {
    background-color: $purple-light;
    color: $light-brown;
    border: 1px solid $purple-medium;
    text-decoration: none;
  }
}

.btn-rose-edit {
  background-color: $red-pink;
  border-radius: 10px;
  color: white;
  padding: 4px 8px;
  flex: 0 1 auto;
  margin-left: auto;
  border: none;
  font-size: 12px;
  &:hover {
    box-shadow: $box-shadow;
    background-color: $red-pink-dark;
    text-decoration: none;
    color: white;
  }
}
