$box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;

.btn-post {
  padding: 8px 16px;
  color: white;
  background-color: #311D3F;
  border-radius: 8px;
  display: inline-block;
  box-shadow: $box-shadow;
  &:hover {
    background-color: #88304E;
    box-shadow: $box-shadow;
  }
}

.btn-rose {
  background-color: $red-pink;
  border-radius: 10px;
  color: white;
  padding: 4px 8px;
  border: none;
  margin: auto;
  display: block;
  &:hover {
    box-shadow: $box-shadow;
    background-color: $red-pink-dark;
  }
}

.btn-sugar-cane {
  background-color: $sugar-cane;
  color: black;
  padding: 8px;
  border-radius: 4px;
  &:hover {
    text-decoration: none;
    background-color: $sugar-cane-dark;
    color: black;
  }
}