.btn-user-helper-false {
  padding: 8px 16px;
  background-color: red;
  border-radius: 8px;
  display: inline-block;
}

.btn-user-helper-true {
  padding: 8px 16px;
  background-color: green;
  border-radius: 8px;
  display: inline-block;
}

.btn-sugar-cane {
  background-color: $sugar-cane;
  color: black;
  padding: 8px;
  border-radius: 4px;
}