$box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
$box-shadow-purple: rgba(49, 29, 63, 0.2) 0px 2px 8px 0px;

.posts-cards {
  margin: 2% auto;
  color: black;
  padding: 20px;
  width: 60%;
  box-shadow: $box-shadow;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 8px 0px;;
  h6 {
    font-family: $body-font;
    font-size: 17px;
    font-style: italic;
  }
  p{
    font-family: $body-font;
    font-size: 16px;
  }
}

.card-form {
  font-size: 18px;
  border-radius: 10px;
}

.card-selected-theme {
  background: linear-gradient(rgba(82,37,70,0.6),rgba(82,37,70,1));
  color: $sugar-cane;
  height: 60px;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 4px;
  box-shadow: $box-shadow-purple;
  width: 40%;
  text-align: center;
}
