$box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
$box-shadow-purple: rgba(49, 29, 63, 0.2) 0px 2px 8px 0px;

.posts-cards {
  margin: 2% auto;
  color: black;
  padding: 20px;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 6px 0px;;
  h6 {
    font-family: $body-font;
    font-size: 17px;
    font-style: italic;
  }
  p{
    font-family: $body-font;
    font-size: 16px;
  }
}

.card-form {
  font-size: 18px;
  border-radius: 10px;
}

.card-selected-theme {
  background: linear-gradient(rgba(226,62,87,1), rgba(226,62,87,0.8));
  color: $sugar-cane;
  padding: 8px;
  border-radius: 8px;
  margin: 4px;
  box-shadow: $box-shadow-purple;
  width: 18vw;
  text-align: center;
}

.matching-card {
  margin: 0 auto;
  margin-right: 18px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  width: 15vw;
  border-radius: 10px;
  background-color: #DED5CC;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 8px 0px;
  &:hover {
    background-color: #F2EFEB;
    box-shadow: $box-shadow-purple;
    cursor: pointer;
  }
  &.active {
    background-color: #F2EFEB;
    box-shadow: $box-shadow-purple;
    border: 3px solid $purple-medium;
  }
}

.matching-header{
  margin: 0 auto;
  padding: 8% 2% 2% 2%;
  h1 {
    font-family: $body-font;
  }
}

.matching-info {
  margin: 0 auto;
  padding: 5% 5%;
  h5 {
    font-family: $body-font;
    font-weight: bold;
  }
  h6 {
    font-family: $body-font;
    font-size: 14px;
  }
}

.matching-card-prof {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  width: 20vw;
  border-radius: 10px;
  background-color: $light-pink;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 8px 0px;
  &:hover {
    background-color: $light-pink2;
    box-shadow: $box-shadow-purple;
    cursor: pointer;
  }
  &.active {
    background-color: $light-pink2;
    box-shadow: $box-shadow-purple;
    border: 3px solid $purple-medium;
  }
}

.matching-card-helper {
  width: 150px;
  height: 210px;
  margin: 5px 15px;
  padding: 10px 5px;
  border-radius: 8px;
  background-color: #DED5CC;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 8px 0px;
  &:hover {
    box-shadow: $box-shadow-purple;
    cursor: pointer;
  }
}

.matching-info-helper {
  width: 100%;
  padding: 1% 5%;
  h5 {
    font-family: $body-font;
    font-weight: bold;
  }
  h6 {
    font-family: $body-font;
  }
  p {
    font-size:0.8em;
    font-family: $body-font;
  }
}

.without-text-decoration {
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.card-chat-discussion {
  border-bottom: solid 0.5px gray;
  border-radius: 4px;
  &:hover {
    background-color: rgb(240, 240, 240);
  }
}

.card-chat-theme {
  font-style: italic;
  color: gray;
}

.hidden {
  display: none;
}

.post-name-avatar {
  font-weight: bold;
  color: $purple-medium;
  font-size: 18px;
}

.post-time {
  p {
    margin-left: 10%;
    font-family: $body-font;
    font-size: 12px;
    color: $gray;
  }
}

.font-theme {
  p {
    font-family: $body-font;
    font-size: 13px;
    color: $purple-medium;
  }
}

.card-avatar {
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  &.active {
    border: $red-pink solid 3px;
  }
}

.card-professional {
  left: 80%;
  width: 20vw;
  background-color: $sugar-cane;
  padding: 8px;
  border-radius: 4px;
  p {
    font-size: 12px;
    font-style: italic;
    text-align: justify;
  }
}

.card-professional-job {
  font-weight: bold;
  font-size: 18px;
}

.card-professional-description {
  font-style: italic;
  font-size: 14px;
}