$box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;

.form-registration-new {
  box-shadow: $box-shadow;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  font-family: $body-font;
  margin-top: 20vh;
  a:hover {
    text-decoration: none;
  }
}

.form-actions {
}

.btn-rose {
  background-color: $red_pink;
  border-radius: 10px;
}

.form-request-info {
  margin: auto;
  width: 80%;
  padding: 4% 5% 4% 5%;
  h3 {
    font-family: $body-font;
  }
}

.form-request-title{
  font-family: $body-font;
}

.request-form {
  margin: auto;
  width: 70%;
  background-color: rgba(222, 213, 204, 0.9);
  padding: 4% 5%;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: $box-shadow;
}

.text-form {
  font-weight: bold;
  h1 {
    font-family: $body-font;
  }
}
