$box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;

.icon-helper {
  color: $blue-green;
  &:hover {
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    color: $blue-green-dark;
  }
}

.icon-helper-w-hover {
  color: $blue-green;
}

.icon-destroy {
  color: $sugar-cane;
  &:hover {
    color: $sugar-cane-dark;
    text-decoration: none;
  }
}

.icon-help-accept {
  margin: 2px;
  font-size: 22px;
  color: $purple-dark;
  &:hover {
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    color: $purple-light;
  }
}

.icon-update-avatar {
  border: none;
  margin: 2px;
  font-size: 18px;
  color: $purple-dark;
  margin-left: 80%;
  &:hover {
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    color: $purple-light;
  }
}

.icons-match {
  margin: 0 auto;
  margin-bottom: 5px;
}
