.icon-helper {
  color: $blue-green;
  &:hover {
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    color: $blue-green-dark;
  }
}

.icon-helper-w-hover {
  color: $blue-green;
}

.icon-destroy {
  color: $sugar-cane;
  &:hover {
    color: $sugar-cane-dark;
    text-decoration: none;
  }
}