// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
.logo-navbar {
  padding: 4px;
  margin: 4px;
}

#inbox-button {
color: $light-red;
font-size: 36px;
padding: 4px;
margin: 4px;
}

.navbar-sororitree {
  // padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  // border-bottom: solid 0.5px rgba(49, 29, 63, 0.5);
  z-index: 1;
  position: fixed;
  width: 100%;
  margin-bottom: 50px;
  transition: .5s;
}

.navbar-sororitree-transparent {
  // padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparentize($light-pink2, 0.2);
  // border-bottom: solid 0.5px rgba(49, 29, 63, 0.5);
  z-index: 1;
  position: fixed;
  width: 100%;
  margin-bottom: 50px;
}


.nav-transparent {
  background-color: transparent;
  border: none;
  position: fixed;
}

.nav-fixed {
  position: fixed;
}

.inbox-and-drop-down {
  display: flex;
  justify-content: space-evenly;
}

.not-signed-in-navbar {
  p {
    color: $red-pink;
    font-weight: bold;
  }
}

.matching-number {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-pink;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  &:hover{
    text-decoration: none;
  }
}

.matching-items-position {
  position: relative;
  padding: 0 8px;
}

.logo-navbar {
  background-color: $light-pink2;
  border-radius: 50%;
}
