// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
.logo-navbar {
  padding: 4px;
  margin: 4px;
}

#inbox_button {
color: $light-red;
font-size: 32px;
padding: 4px;
margin: 4px;
}
