// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
.logo-navbar {
  padding: 4px;
  margin: 4px;
}

#inbox_button {
color: $light-red;
font-size: 32px;
padding: 4px;
margin: 4px;
}

.navbar-sororitree {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $sugar-cane;
  border-bottom: solid 0.5px rgba(49, 29, 63, 0.5);
}

.nav-transparent {
  background-color: transparent;
  border: none;
}

.nav-fixed {
  position: fixed;
}